.card:hover {
  -webkit-box-shadow: -10px 10px 20px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 20px -12px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 20px -12px rgba(0,0,0,0.75);
  transition: .3s ease;
}

.App {
  margin: 0 auto;
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
