body, html {
  max-width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
  margin: 0 auto;
}

.App-header {
  background-image: url('./images/rocketTiny.jpg');
  background-size: 100%;
  background-position-y: -160px;
  background-blend-mode: hard-light;
  background-color: #8595b1;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 400px;
  padding: 200px 20px;
  text-align: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  z-index: 9999;
  box-shadow: 0px 20px rgba(0,0,0,0.5);

}

.App-header > div {
  margin: 0;
  margin-bottom: 0px;
}

.App-title {
  font-size: 6rem;
  text-shadow: 2px 2px black;
}


h2 {
  text-shadow: 2px 2px black;
  font-size: 3rem;
}


@media (max-width: 1100px) {
  .App-header {
    background-size: 100%;
    background-position-y: 0;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 100px 20px 30px 20px;
  }
}

@media (max-width: 750px) {
  .App-header {
    background-size: 100%;
    background-position-y: 0;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 100px 20px 10px 20px;
  }
  .App-title {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .App-header {
    background-size: 200%;
    background-position-y: 0px;
    background-color: #fff;
    background-blend-mode: hard-light;
    background-color: #8595b1;
    background-repeat: no-repeat;
    min-height: 350px;
    padding: 50px 20px 50px 20px;
  }

  .App-title {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.bodyContainer {
  height: 100%;
  margin-bottom: 40px;
}

h1 {
  font-family: "Satisfy", cursive;
}

h2, h3, h4, h5, h6, ul, li, ol, a, p {
  font-family: "Rajdhani", sans-serif;
}
