.App {
  margin: 0 auto;
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
