body, html {
  width: 100%;
  /* background-color: #e9d733; */
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "Satisfy", cursive;
}

h2, h3, h4, h5, h6, ul, li, ol, a, p {
  font-family: "Rajdhani", sans-serif;
}
