.profileContainer {
    padding: 5px;
    margin: 0 auto;
}

.img-container {
    position: relative;
    background-color: rgb(75, 183, 226);
   
}

.profileImg {
    position: relative;
    border: 5px solid rgb(75, 183, 226);
    width: 180px;
    height: 180px;
}

.profileImg:hover {
    -moz-box-shadow:    3px 3px 5px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
    transition: .2s ease-in-out;
}

.profileCard {
    width: 100%;
    height: 160px;
}

.profileCard > div > p {
    display: inline-block;
    margin: 0px;
    padding: 0;
}