.footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #444;
    z-index: 99999;

  }

.footer ul {
  padding: 0;
  margin: 0 auto;
  margin-left: 20px;
}
  
.footer li {
  display: inline-block;
  height: 100%;
  text-align: left;
  padding: 0;
  padding-right: 20px;
  margin: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: #1bc5d1;
  transition: 0.3s ease;
}

.footer a:active {
  color: #16a6b1;
}

/* @media (max-width: 1100px) {
  .footer {
    font-size: 1rem;
  }
} */

@media (max-width: 750px) {
  .footer {
    font-size: 1rem;
  }
}
  