.Contact-header {
    margin-top: 60px;
}

.Contact-header.bg {
    background-blend-mode: hard-light;
    background-color: #8595b1;
    min-width: 1024px;
    min-height: 100%;
    background: url("../../images/classroomTiny.jpg");
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
.Contact-header.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
}
}

